.Quick {
    text-align: center;
    width: 100%;
    height: 95vh;
    /*background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQH0KndC75OxOc2gCQo1EOyicRev9OEel57P2fla_8eW1xSHGZP");*/
}

.Imagen {
    width: 100%;
    height: 100vh;
}